<body>
    <head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
            integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    </head>
    <div class="container">
        <div class="screen">
            <form class="login">
                <div class=" login_field">
                    <i class="login_icon fas fa-user"></i>
                    <input type="text" class="login_input" placeholder="User Name / Email" [(ngModel)]="this.service.users.userName"
                        [ngModelOptions]="{standalone: true}">
                    <br>
                    <small *ngIf="!this.service.users.userName" class="text-danger">*Username is required</small>
                </div>
                <div class="login_field">
                    <i class="login_icon fas fa-lock"></i>
                    <input type="password" class="login_input" placeholder="Password" [(ngModel)]="this.service.users.passWord"
                        [ngModelOptions]="{standalone: true}">
                    <br>
                    <small *ngIf="!this.service.users.passWord" class="text-danger">*Password is required</small>
                </div>
                <small class="text-danger" *ngIf="isErr">{{errorMassage}}</small>
                <button class="button login_submit ">
                    <span  (click)="login()"  class="button_text">lOGIN</span>                   
                    <i class="button_icon fas fa-chevron-right"></i>
                </button>              
            </form>
        </div>
    </div>
</body>