<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar</title>
</head>

<body>
  <nav>
    <div class="nav-brand">Angular</div>
    <div class="nav-links">
      <ul>
        <li><a routerLink="/home">home</a></li>
      </ul>
    </div>
    <div class="login-btn" ng-container *ngIf="loggedIn">
      <div (click)="logout()" >Logout</div>
    </div>
    <div class="login-btn" ng-container *ngIf="!loggedIn">
      <div routerLink="login" >LOGIN</div>
    </div>
  </nav>


</body>

</html>